
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}
  

  .row {
    display:inline-block;
    width: 100%;
  }

  .block {
    width: 500px;
    height: 50vh;
    background: green;
    border: 1px solid black;
    margin: 0 auto;
  }


  @mixin column($span-name, $span, $flex-size, $center){
    .col-#{$flex-size}-#{$span-name} {
        width: $span;
        float: left;
        margin: 0 15px;
        
    }

    @if $center == true {
      .col-#{$flex-size}-#{$span-name}-centered {
        width: $span;
        margin: 0 auto;
        
      }
    }

    @if $flex-size == xs {
      @media screen and (max-width: 768px) {
        .col-#{$flex-size}-#{$span-name} {
          width: calc(100% - 30px);
        }
      }   
    } @else if $flex-size == sm {
        @media screen and (max-width: 991px) {
          .col-#{$flex-size}-#{$span-name} {
            width: calc(100% - 30px);
          }
        } 

    } @else if $flex-size == md {
        @media screen and (max-width: 1199px) {
          .col-#{$flex-size}-#{$span-name} {
            width: calc(100% - 30px);
            
          }
        } 

    } @else if $flex-size == lg {
        @media screen and (min-width: 1200px) {
          .col-#{$flex-size}-#{$span-name} {
            width: $span;
          }
        } 
    }

   
    
  }

@for $i from 1 through 12 {
    @include column(#{$i}, calc((((100%)/12) * #{$i}) - 30px), "xs", true);
    @include column(#{$i}, calc((((100%)/12) * #{$i}) - 30px), "sm", true);
    @include column(#{$i}, calc((((100%)/12) * #{$i}) - 30px), "md", true);
    @include column(#{$i}, calc((((100%)/12) * #{$i}) - 30px), "lg", true);
}







