/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

.row {
  display: inline-block;
  width: 100%;
}

.block {
  width: 500px;
  height: 50vh;
  background: green;
  border: 1px solid black;
  margin: 0 auto;
}

.col-xs-1 {
  width: calc((((100%)/12) * 1) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-1-centered {
  width: calc((((100%)/12) * 1) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: calc(100% - 30px);
  }
}
.col-sm-1 {
  width: calc((((100%)/12) * 1) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-1-centered {
  width: calc((((100%)/12) * 1) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-1 {
    width: calc(100% - 30px);
  }
}
.col-md-1 {
  width: calc((((100%)/12) * 1) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-1-centered {
  width: calc((((100%)/12) * 1) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-1 {
    width: calc(100% - 30px);
  }
}
.col-lg-1 {
  width: calc((((100%)/12) * 1) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-1-centered {
  width: calc((((100%)/12) * 1) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: calc((((100%)/12) * 1) - 30px);
  }
}
.col-xs-2 {
  width: calc((((100%)/12) * 2) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-2-centered {
  width: calc((((100%)/12) * 2) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-2 {
    width: calc(100% - 30px);
  }
}
.col-sm-2 {
  width: calc((((100%)/12) * 2) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-2-centered {
  width: calc((((100%)/12) * 2) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-2 {
    width: calc(100% - 30px);
  }
}
.col-md-2 {
  width: calc((((100%)/12) * 2) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-2-centered {
  width: calc((((100%)/12) * 2) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-2 {
    width: calc(100% - 30px);
  }
}
.col-lg-2 {
  width: calc((((100%)/12) * 2) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-2-centered {
  width: calc((((100%)/12) * 2) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-2 {
    width: calc((((100%)/12) * 2) - 30px);
  }
}
.col-xs-3 {
  width: calc((((100%)/12) * 3) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-3-centered {
  width: calc((((100%)/12) * 3) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-3 {
    width: calc(100% - 30px);
  }
}
.col-sm-3 {
  width: calc((((100%)/12) * 3) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-3-centered {
  width: calc((((100%)/12) * 3) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-3 {
    width: calc(100% - 30px);
  }
}
.col-md-3 {
  width: calc((((100%)/12) * 3) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-3-centered {
  width: calc((((100%)/12) * 3) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-3 {
    width: calc(100% - 30px);
  }
}
.col-lg-3 {
  width: calc((((100%)/12) * 3) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-3-centered {
  width: calc((((100%)/12) * 3) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-3 {
    width: calc((((100%)/12) * 3) - 30px);
  }
}
.col-xs-4 {
  width: calc((((100%)/12) * 4) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-4-centered {
  width: calc((((100%)/12) * 4) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-4 {
    width: calc(100% - 30px);
  }
}
.col-sm-4 {
  width: calc((((100%)/12) * 4) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-4-centered {
  width: calc((((100%)/12) * 4) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-4 {
    width: calc(100% - 30px);
  }
}
.col-md-4 {
  width: calc((((100%)/12) * 4) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-4-centered {
  width: calc((((100%)/12) * 4) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-4 {
    width: calc(100% - 30px);
  }
}
.col-lg-4 {
  width: calc((((100%)/12) * 4) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-4-centered {
  width: calc((((100%)/12) * 4) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-4 {
    width: calc((((100%)/12) * 4) - 30px);
  }
}
.col-xs-5 {
  width: calc((((100%)/12) * 5) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-5-centered {
  width: calc((((100%)/12) * 5) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-5 {
    width: calc(100% - 30px);
  }
}
.col-sm-5 {
  width: calc((((100%)/12) * 5) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-5-centered {
  width: calc((((100%)/12) * 5) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-5 {
    width: calc(100% - 30px);
  }
}
.col-md-5 {
  width: calc((((100%)/12) * 5) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-5-centered {
  width: calc((((100%)/12) * 5) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-5 {
    width: calc(100% - 30px);
  }
}
.col-lg-5 {
  width: calc((((100%)/12) * 5) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-5-centered {
  width: calc((((100%)/12) * 5) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-5 {
    width: calc((((100%)/12) * 5) - 30px);
  }
}
.col-xs-6 {
  width: calc((((100%)/12) * 6) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-6-centered {
  width: calc((((100%)/12) * 6) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-6 {
    width: calc(100% - 30px);
  }
}
.col-sm-6 {
  width: calc((((100%)/12) * 6) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-6-centered {
  width: calc((((100%)/12) * 6) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-6 {
    width: calc(100% - 30px);
  }
}
.col-md-6 {
  width: calc((((100%)/12) * 6) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-6-centered {
  width: calc((((100%)/12) * 6) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-6 {
    width: calc(100% - 30px);
  }
}
.col-lg-6 {
  width: calc((((100%)/12) * 6) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-6-centered {
  width: calc((((100%)/12) * 6) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-6 {
    width: calc((((100%)/12) * 6) - 30px);
  }
}
.col-xs-7 {
  width: calc((((100%)/12) * 7) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-7-centered {
  width: calc((((100%)/12) * 7) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-7 {
    width: calc(100% - 30px);
  }
}
.col-sm-7 {
  width: calc((((100%)/12) * 7) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-7-centered {
  width: calc((((100%)/12) * 7) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-7 {
    width: calc(100% - 30px);
  }
}
.col-md-7 {
  width: calc((((100%)/12) * 7) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-7-centered {
  width: calc((((100%)/12) * 7) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-7 {
    width: calc(100% - 30px);
  }
}
.col-lg-7 {
  width: calc((((100%)/12) * 7) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-7-centered {
  width: calc((((100%)/12) * 7) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-7 {
    width: calc((((100%)/12) * 7) - 30px);
  }
}
.col-xs-8 {
  width: calc((((100%)/12) * 8) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-8-centered {
  width: calc((((100%)/12) * 8) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-8 {
    width: calc(100% - 30px);
  }
}
.col-sm-8 {
  width: calc((((100%)/12) * 8) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-8-centered {
  width: calc((((100%)/12) * 8) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-8 {
    width: calc(100% - 30px);
  }
}
.col-md-8 {
  width: calc((((100%)/12) * 8) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-8-centered {
  width: calc((((100%)/12) * 8) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-8 {
    width: calc(100% - 30px);
  }
}
.col-lg-8 {
  width: calc((((100%)/12) * 8) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-8-centered {
  width: calc((((100%)/12) * 8) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-8 {
    width: calc((((100%)/12) * 8) - 30px);
  }
}
.col-xs-9 {
  width: calc((((100%)/12) * 9) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-9-centered {
  width: calc((((100%)/12) * 9) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-9 {
    width: calc(100% - 30px);
  }
}
.col-sm-9 {
  width: calc((((100%)/12) * 9) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-9-centered {
  width: calc((((100%)/12) * 9) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-9 {
    width: calc(100% - 30px);
  }
}
.col-md-9 {
  width: calc((((100%)/12) * 9) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-9-centered {
  width: calc((((100%)/12) * 9) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-9 {
    width: calc(100% - 30px);
  }
}
.col-lg-9 {
  width: calc((((100%)/12) * 9) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-9-centered {
  width: calc((((100%)/12) * 9) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-9 {
    width: calc((((100%)/12) * 9) - 30px);
  }
}
.col-xs-10 {
  width: calc((((100%)/12) * 10) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-10-centered {
  width: calc((((100%)/12) * 10) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-10 {
    width: calc(100% - 30px);
  }
}
.col-sm-10 {
  width: calc((((100%)/12) * 10) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-10-centered {
  width: calc((((100%)/12) * 10) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-10 {
    width: calc(100% - 30px);
  }
}
.col-md-10 {
  width: calc((((100%)/12) * 10) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-10-centered {
  width: calc((((100%)/12) * 10) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-10 {
    width: calc(100% - 30px);
  }
}
.col-lg-10 {
  width: calc((((100%)/12) * 10) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-10-centered {
  width: calc((((100%)/12) * 10) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-10 {
    width: calc((((100%)/12) * 10) - 30px);
  }
}
.col-xs-11 {
  width: calc((((100%)/12) * 11) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-11-centered {
  width: calc((((100%)/12) * 11) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-11 {
    width: calc(100% - 30px);
  }
}
.col-sm-11 {
  width: calc((((100%)/12) * 11) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-11-centered {
  width: calc((((100%)/12) * 11) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-11 {
    width: calc(100% - 30px);
  }
}
.col-md-11 {
  width: calc((((100%)/12) * 11) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-11-centered {
  width: calc((((100%)/12) * 11) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-11 {
    width: calc(100% - 30px);
  }
}
.col-lg-11 {
  width: calc((((100%)/12) * 11) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-11-centered {
  width: calc((((100%)/12) * 11) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-11 {
    width: calc((((100%)/12) * 11) - 30px);
  }
}
.col-xs-12 {
  width: calc((((100%)/12) * 12) - 30px);
  float: left;
  margin: 0 15px;
}

.col-xs-12-centered {
  width: calc((((100%)/12) * 12) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .col-xs-12 {
    width: calc(100% - 30px);
  }
}
.col-sm-12 {
  width: calc((((100%)/12) * 12) - 30px);
  float: left;
  margin: 0 15px;
}

.col-sm-12-centered {
  width: calc((((100%)/12) * 12) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .col-sm-12 {
    width: calc(100% - 30px);
  }
}
.col-md-12 {
  width: calc((((100%)/12) * 12) - 30px);
  float: left;
  margin: 0 15px;
}

.col-md-12-centered {
  width: calc((((100%)/12) * 12) - 30px);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .col-md-12 {
    width: calc(100% - 30px);
  }
}
.col-lg-12 {
  width: calc((((100%)/12) * 12) - 30px);
  float: left;
  margin: 0 15px;
}

.col-lg-12-centered {
  width: calc((((100%)/12) * 12) - 30px);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .col-lg-12 {
    width: calc((((100%)/12) * 12) - 30px);
  }
}

/*# sourceMappingURL=grid-based-framework.css.map */
